table {

    width: 100%;

    border-collapse: collapse;

    background: white;
}

table th {

    background: #e53935;

    color: white;

    padding: 14px;
}

table td {

    padding: 12px;

    border-bottom: 1px solid #ddd;
}

table tr:hover {

    background: #f1f5f9;
}